<nav class="mobile-bottom-nav d-md-none border-top bg-body position-fixed bottom-0 start-0 end-0 py-2">
  <div class="container d-flex justify-content-around">
    <a class="text-decoration-none text-center" href="{% url 'landing:home' %}">
      <i class="bi bi-house"></i>
      <div class="small">Home</div>
    </a>
    <a class="text-decoration-none text-center" href="{% url 'courses:course_list' %}">
      <i class="bi bi-grid"></i>
      <div class="small">Kurslar</div>
    </a>
    <a class="text-decoration-none text-center" href="{% url 'users:dashboard' %}">
      <i class="bi bi-speedometer2"></i>
      <div class="small">Dashboard</div>
    </a>
    <a class="text-decoration-none text-center" href="{% url 'communication:inbox' %}">
      <i class="bi bi-chat"></i>
      <div class="small">Chat</div>
    </a>
  </div>
</nav>
