<div class="modal fade" id="paywallModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">To‘lov talab qilinadi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Darslarga kirish uchun to‘lovni yakunlang.
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="/payment/">To‘lov sahifasi</a>
      </div>
    </div>
  </div>
</div>
